body {
  background-color: #373737;
  font-family: Helvetica, Noto Sans;
  font-size: 14px;
  margin: 0; }

@media screen and (min-width: 105px) {
  body {
    font-size: 1.75px; } }
@media screen and (min-width: 210px) {
  body {
    font-size: 3.5px; } }
@media screen and (min-width: 315px) {
  body {
    font-size: 5.25px; } }
@media screen and (min-width: 420px) {
  body {
    font-size: 7px; } }
@media screen and (min-width: 525px) {
  body {
    font-size: 8.75px; } }
@media screen and (min-width: 630px) {
  body {
    font-size: 10.5px; } }
@media screen and (min-width: 735px) {
  body {
    font-size: 12.25px; } }
@media screen and (min-width: 840px) {
  body {
    font-size: 14px; } }
#content {
  background: BlanchedAlmond;
  color: #373737;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 55em;
  margin-top: 5em; }

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0.5em;
  font-size: 2em;
  border-bottom: 1px solid;
  background: BlanchedAlmond;
  color: #373737;
  text-shadow: 1px 1px 1px grey; }
  .navigation .title {
    font-size: 2em;
    left: 0; }
  .navigation span.sitenav {
    margin: 2em; }

article {
  padding: 3em; }
  article header {
    margin-bottom: 2.2em; }
    article header h1 {
      font-size: 2.2em; }

a {
  text-decoration: none;
  color: darkred; }

.date {
  font-style: italic; }

.fineprint {
  text-align: center;
  font-size: .9em;
  margin-top: .5em; }

pre {
  overflow: auto;
  margin-left: 1em;
  padding: 0.5em;
  border-left: 1px dashed;
  background-color: white;
  padding: .75em .5em;
  font-family: unquote mono-font; }

tt {
  font-size: .9em;
  font-family: unquote mono-font; }

/* Stolen from lisppaste for the colorize output of 3bmd */
.paste {
  background-color: #F4F4F4;
  color: black; }

.paste:hover {
  background-color: #F4F4F4;
  color: black; }

.symbol {
  color: #770055;
  background-color: transparent;
  border: 0px;
  margin: 0px; }

.special {
  color: #FF5000;
  background-color: inherit; }

.keyword {
  color: #770000;
  background-color: inherit; }

.comment {
  color: #007777;
  background-color: inherit; }

.string {
  color: #777777;
  background-color: inherit; }

.atom {
  color: #314F4F;
  background-color: inherit; }

.macro {
  color: #FF5000;
  background-color: inherit; }

.variable {
  color: #36648B;
  background-color: inherit; }

.function {
  color: #8B4789;
  background-color: inherit; }

.attribute {
  color: #FF5000;
  background-color: inherit; }

.character {
  color: #0055AA;
  background-color: inherit; }

.syntaxerror {
  color: #FF0000;
  background-color: inherit; }

.diff-deleted {
  color: #5F2121;
  background-color: inherit; }

.diff-added {
  color: #215F21;
  background-color: inherit; }

span.paren1 {
  background-color: inherit;
  -webkit-transition: background-color 0.2s linear; }

span.paren1:hover {
  color: inherit;
  background-color: #BAFFFF; }

span.paren2 {
  background-color: inherit;
  -webkit-transition: background-color 0.2s linear; }

span.paren2:hover {
  color: inherit;
  background-color: #FFCACA; }

span.paren3 {
  background-color: inherit;
  -webkit-transition: background-color 0.2s linear; }

span.paren3:hover {
  color: inherit;
  background-color: #FFFFBA; }

span.paren4 {
  background-color: inherit;
  -webkit-transition: background-color 0.2s linear; }

span.paren4:hover {
  color: inherit;
  background-color: #CACAFF; }

span.paren5 {
  background-color: inherit;
  -webkit-transition: background-color 0.2s linear; }

span.paren5:hover {
  color: inherit;
  background-color: #CAFFCA; }

span.paren6 {
  background-color: inherit;
  -webkit-transition: background-color 0.2s linear; }

span.paren6:hover {
  color: inherit;
  background-color: #FFBAFF; }

/*# sourceMappingURL=style.css.map */
