{namespace coleslaw.theme.mine}

{template base}
<!doctype html>{\n}
<!--
Local Variables:
mode : html
End:
-->{\n}
<html lang="{$config.lang}">{\n}
  <head>{\n}
    <title>{$config.title}</title>{\n}
    <meta http-equiv="content-type" content="text/html; charset={$config.charset}" />{\n}
    <meta name="viewport" content="width=device-width, initial-scale=1">{\n}
    <link href="//fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />{\n}
    <link href="//fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css" />{\n}
    <link href= "/css/style.css" rel="stylesheet" type="text/css" />{\n}
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" />{\n}
    {if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}{\n}
  </head>{\n}
  <body>{\n}
    <nav class="navigation">{\n}
      <span class="title"> <a href="/">{$config.title}</a> </span>{\n}
      {foreach $link in $config.sitenav}
      <span class="sitenav">
        {if $link.relative}
        <a href="/{$link.url}">{$link.name}</a>
        {else}
        <a href="{$link.url}">{$link.name}</a>
        {/if}
      </span>{\n}
      {/foreach}
    </nav>{\n}
    <main id="content">{\n}
      {$raw |noAutoescape}
    </main>{\n}
    {if $injections.body}
      {foreach $injection in $injections.body}
        {$injection |noAutoescape}
      {/foreach}
    {/if}{\n}
    <footer class="fineprint">
      Unless otherwise credited all material
      {if $config.license}
        {$config.license}
      {else}
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
          <img alt="Creative Commons License" style="border-width:0" src="/css/cc-by-sa.png" />
        </a>
      {/if}
      by {$config.author}
      <a id="coleslaw-logo" href="https://github.com/redline6561/coleslaw">
        <img src="/css/logo_small.jpg" alt="Coleslaw logo" />
      </a>
    </footer>{\n}
  </body>{\n}
</html>
{/template}
