{namespace coleslaw.theme.mine}

{template base}
<!doctype html>{\n}
<!--
Local Variables:
mode : html
End:
-->{\n}
<html lang="{$config.lang}">{\n}
  <head>{\n}
    <title>{$config.title}</title>{\n}
    <meta http-equiv="content-type" content="text/html; charset={$config.charset}" />{\n}
    <meta name="viewport" content="width=device-width, initial-scale=1">{\n}
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css"> -->
    <link href= "/css/font-awesome.min.css" rel="stylesheet" type="text/css" />{\n}
    <link href= "/css/style.css" rel="stylesheet" type="text/css" />{\n}
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" />{\n}
    {if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}{\n}
  </head>{\n}
  <body>{\n}
    <!-- navigation -->
    <nav class="navigation">{\n}
      <div class="title"> <a href="/">{$config.title}</a> </div>
      <ul>
        {foreach $link in $config.sitenav}
        <li>
          {if $link.relative}
          <a href="/{$link.url}">{$link.name |noAutoescape}</a>
          {else}
          <a href="{$link.url}">{$link.name |noAutoescape}</a>
          {/if}
        </li>{\n}
        {/foreach}
      </ul>
    </nav>{\n}

    <!-- main -->
    <main>{\n}
      {$raw |noAutoescape}
    </main>{\n}
    {if $injections.body}
      {foreach $injection in $injections.body}
        {$injection |noAutoescape}
      {/foreach}
    {/if}{\n}

    <!-- footer -->
    <footer>
      Unless otherwise credited all material
      {if $config.license}
      {$config.license}
      {else}
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
        <img alt="Creative Commons License" style="border-width:0" src="/css/cc-by-sa.png" />
      </a>
      {/if}
      by {$config.author}
      <br>
      <a href="https://github.com/redline6561/coleslaw">
        <img src="/css/logo_small.jpg" alt="Coleslaw logo" />
      </a>
    </footer>{\n}
  </body>{\n}
</html>
{/template}
