{namespace coleslaw.theme.mine}

{template index}

<!--
Local Variables:
mode : html
End:
  -->{\n}
<article>
<header>{\n}
<h1 class="title">{$index.title}</h1>
</header>

{foreach $obj in $index.content}
<div class="content">{\n}
  <h1><a href="/{$obj.url}">{$obj.title}</a></h1>{\n}
  <div class="date"> posted on {$obj.date}</div>{\n}
  <div class="excerpt">{$obj.excerpt |noAutoescape}</div>{\n}
</div>{\n}
{/foreach}

<article>


<nav>{\n}
  <div id="relative-nav">
    {if $prev} <a href="/{$prev.url}">Previous</a> {/if}
    {if $next} <a href="/{$next.url}">Next</a> {/if}
  </div>{\n}
  {if $tags}
  <div id="tagsoup">
    This blog covers
    {foreach $tag in $tags}
    <a href="/{$tag.url}">{$tag.name}</a>{if not isLast($tag)},{sp}{/if}
    {/foreach}
  </div>{\n}
  {/if}
  {if $months}
  <div id="monthsoup">
    View content from
    {foreach $month in $months}
    <a href="/{$month.url}">{$month.name}</a>{if not isLast($month)},{sp}{/if}
    {/foreach}
  </div>{\n}
</nav>
{/if}
{/template}
