{namespace coleslaw.theme.mine}

{template index}

<!-- inside main -->
<!--
Local Variables:
mode : html
End:
  -->{\n}

<article class="index">
  <header>{\n}
    <h1 class="pagetitle">{$index.title}</h1>{\n}
  </header>{\n}

  {foreach $obj in $index.content}
  <div class="index-entry">{\n}
    <h1><a href="/{$obj.url}">{$obj.title}</a></h1>{\n}
    <div class="date"> posted on <time>{$obj.date}</time></div>{\n}
    <div class="excerpt">{$obj.excerpt |noAutoescape}</div>{\n}
  </div>{\n}
  {/foreach}
</article>


<nav>{\n}
  <div id="relative-nav">
    {if $prev} <a href="/{$prev.url}">Previous</a> {/if}
    {if $next} <a href="/{$next.url}">Next</a> {/if}
  </div>{\n}
  {if $tags}
  <div id="tagsoup">
    This blog covers
    {foreach $tag in $tags}
    <a href="/{$tag.url}">{$tag.name}</a>{if not isLast($tag)},{sp}{/if}
    {/foreach}
  </div>{\n}
  {/if}
  {if $months}
  <div id="monthsoup">
    View content from
    {foreach $month in $months}
    <a href="/{$month.url}">{$month.name}</a>{if not isLast($month)},{sp}{/if}
    {/foreach}
  </div>{\n}
</nav>
{/if}
{/template}
